<!-- start custom footer snippets -->
<style>
    .page__footer {
        color: #40514E !important; /*this was done to override the !important in the Mint theme css*/
        background-color: #bcf;
        padding-bottom: 1em;
    }
    .images-container {
       float: right;
    }
    .images-container a {
    margin-left: 5px;
    width: 574px;
    height: 577px;
    }
</style>

<!-- Hack to get the custom div below to appear at the bottom of the footer (instead of the top):
     Set "position:absolute; bottom: 3em;" on the custom div, then set "padding-bottom: 1em;" in the main .page__footer
     style (to prevent the text from overlapping). -->

<div class="page__footer-copyright" style="position: absolute; bottom: 3em;">
    Web development by <a href="https://shodgkins.github.io/" target="_blank">Suzanne Hodgkins</a>.
</div>

<div class="images-container">
    {% include image.html url="/assets/images/NSF_4-Color_bitmap_Logo.png" %}
</div>


<!-- end custom footer snippets -->
